<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="BoardMapper">
   <insert id="create">
      INSERT INTO board(bid, nickname, btitle, bcontent, id)
      VALUES(seq_bid.nextval, #{nickname}, #{btitle}, #{bcontent}, #{id})
      <selectKey keyProperty="bid" resultType="int" order="AFTER">
         SELECT seq_bid.currval 
         FROM dual
      </selectKey>
   </insert>
   
   <select id="read" resultType="kr.co.thefesta.board.domain.BoardDTO">
      SELECT bid,
            bno,
            btitle,
            bcontent,
            nickname,
            bregist,
            breplycnt,
            bviewcnt,
            id
      FROM board
      WHERE bid=#{bid} AND bstatecode= 'Y'
   </select>
   
   <update id="update">
      UPDATE board
      SET btitle=#{btitle}, bcontent=#{bcontent}
      WHERE bid=#{bid}
   </update>

   <update id="delete">
    UPDATE board
	SET bstatecode = 'N'
	WHERE bid=#{bid}
   </update>
   
   
<sql id="criteria">
   <trim prefix="(" suffix=") AND " prefixOverrides="OR">
      <foreach item="type" collection="typeArr">
         <trim prefix="OR">
            <choose>
               <when test="type=='T'.toString()">
                  btitle LIKE '%'||#{keyword}||'%'
               </when>
               <when test="type=='C'.toString()">
                  bcontent LIKE '%'||#{keyword}||'%'
               </when>
               <when test="type=='W'.toString()">
                  nickname LIKE '%'||#{keyword}||'%'
               </when>
            </choose>
         </trim>
      </foreach>
   </trim>
</sql>
   
   <select id="getListWithPaging" resultType="kr.co.thefesta.board.domain.BoardDTO">
      <![CDATA[
      SELECT bid,
            bno,
            btitle,
            bcontent,
            nickname,
            bregist,
            breplycnt,
            bviewcnt,
            id
      FROM (
            SELECT rownum rn,
                  bid,
                    bno,
                    btitle,
                  bcontent,
                  nickname,
                  bregist,
                  breplycnt,
                  bviewcnt,
                  id
              FROM (
                   SELECT *
                   FROM board
                   WHERE bstatecode = 'Y'
                   ORDER BY bid DESC
                 ) ordered_board
               WHERE
      ]]>
         <include refid="criteria"></include>
            
         <![CDATA[
            rownum <= #{pageNum} * #{amount}
            ORDER BY bid DESC
      )
      WHERE rn > (#{pageNum} - 1) * #{amount}
      ]]>
   </select>
   
   <select id="getTotalCnt" resultType="int">
      SELECT count(*)
      FROM board
      WHERE 
      <include refid="criteria"></include>
      bid > 0 AND bstatecode = 'Y'
   </select>
   
   <!-- 게시물의 viewcnt를 1 증가시키는 SQL 문 -->
    <update id="increaseViewCnt" parameterType="int">
        UPDATE board
        SET bviewcnt = bviewcnt + 1
        WHERE bid = #{bid}
    </update>
   
</mapper>