<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="FestivalReplyMapper">
	<insert id="insertReply">
		INSERT INTO festa_reply(frno, contentid, frcontent, id, nickname, frstatecode)
		VALUES(seq_frno.nextval, #{contentid}, #{frcontent}, #{id}, #{nickname}, 'Y')
	</insert>
	
	<select id="getListWithPaging" resultType="kr.co.thefesta.festival.domain.FestivalReplyDTO">
 		<![CDATA[ 
 			SELECT frno, 
 				   contentid, 
 				   id, 
 				   nickname, 
 				   frcontent, 
 				   frregist, 
 				   fredit,
 				   frstatecode
 			FROM (SELECT rownum rn, 
 				         frno, 
 				   		 contentid, 
 				   		 id, 
 				   		 nickname, 
 				   		 frcontent, 
 				   		 frregist, 
 				   		 fredit,
 				   		 frstatecode 
 				  FROM festa_reply 
 				  WHERE contentid = #{contentid} 
 				  AND frno > 0 
 				  AND frstatecode = 'Y'
 				  AND rownum <= #{cri.pageNum} * #{cri.amount}) 
 			WHERE rn > (#{cri.pageNum} -1) * #{cri.amount} 
 		]]> 
 	</select> 
	
 	<select id="getCountByContentid" resultType="int">
 		<![CDATA[
 			SELECT count(frno) 
 			FROM festa_reply 
 			WHERE contentid = #{contentid} 
 		]]> 
 	</select> 
 	
 	<update id="updateReply">
		UPDATE festa_reply
		SET frcontent = #{frcontent}
		WHERE frno = #{frno}
	</update>
	
 	<update id="deleteReply">
		UPDATE festa_reply
		SET frstatecode = 'N'
		WHERE frno = #{frno}
	</update>
 </mapper>