<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="FoodMapper">
  	<insert id="insert">
  		INSERT INTO food(contentid, title, addr1, firstmenu, treatmenu, infocenterfood, parkingfood, opentimefood, restdatefood, overview, firstimage, firstimage2, mapx, mapy, areacode, sigungucode, cat3 )
		VALUES(#{contentid}, #{title}, #{addr1}, #{firstmenu}, #{treatmenu}, #{infocenterfood}, #{parkingfood}, #{opentimefood}, #{restdatefood}, #{overview}, #{firstimage}, #{firstimage2}, #{mapx}, #{mapy}, #{areacode}, #{sigungucode}, #{cat3})
  	</insert>
  	
  	<delete id="delete">
  		DELETE FROM food
  	</delete>
  	
  	<update id="update">
  	UPDATE food
    SET title=#{title}, addr1=#{addr1}, infocenterfood=#{infocenterfood}, firstmenu=#{firstmenu},
        treatmenu=#{treatmenu}, opentimefood=#{opentimefood}, restdatefood=#{restdatefood},
        parkingfood=#{parkingfood}, overview=#{overview}, firstimage=#{firstimage},
        firstimage2=#{firstimage2}, mapx=#{mapx}, mapy=#{mapy}, areacode=#{areacode},
        sigungucode=#{sigungucode}, cat3=#{cat3}
    WHERE contentid = #{contentid}
  	</update>
  	
  	<select id="selectFestaid" resultType="kr.co.thefesta.festival.domain.FestivalDTO">
  		SELECT *
		FROM festa
  	</select>
  	
  	<select id="listCnt" resultType="int">
	    SELECT COUNT(*) AS TotalRows
	    FROM (
	        SELECT fd.contentid,
	               fd.title,
	               fd.firstimage2,
	               fd.addr1,
	               fd.cat3,
	               (SELECT COUNT(*) FROM food_like WHERE contentid = fd.contentid) AS likeCnt
	        FROM food fd JOIN festa f
	        ON fd.areacode = f.acode AND fd.sigungucode = f.scode
	        WHERE f.contentid = #{contentid}
	    ) Result
	</select>
  	
  	<select id="recommend" resultType="kr.co.thefesta.food.domain.RecommendDTO">
    <![CDATA[
        SELECT contentid, title, firstimage2, addr1, cat3, likeCnt
        FROM (
            SELECT contentid, title, firstimage2, addr1, cat3, likeCnt, ROWNUM AS rn
            FROM (
                SELECT fd.contentid,
                       fd.title,
                       fd.firstimage2,
                       fd.addr1,
                       fd.cat3,
                       (SELECT COUNT(*) FROM food_like WHERE contentid = fd.contentid) AS likeCnt
                FROM food fd JOIN festa f
                ON fd.areacode = f.acode AND fd.sigungucode = f.scode
                WHERE f.contentid = #{contentid}
                ORDER BY likeCnt DESC, fd.contentid DESC
            )
            WHERE ROWNUM <= #{pageNum} * #{amount}
        )
        WHERE rn > (#{pageNum}-1)*#{amount}
    ]]>
	</select>
  	
    <select id="recommendUser" resultType="kr.co.thefesta.food.domain.RecommendDTO">
  	<![CDATA[
        SELECT rn, contentid, title, firstimage2, addr1, cat3, likeCnt, userlikeCnt
        FROM (
            SELECT contentid, title, firstimage2, addr1, cat3, likeCnt, ROWNUM AS rn, userlikeCnt
            FROM (
                SELECT fd.contentid,
       		           fd.title,
                       fd.firstimage2,
                       fd.addr1,
                       fd.cat3,
                       (SELECT COUNT(*) FROM food_like WHERE contentid = fd.contentid) AS likeCnt,
                       (SELECT COUNT(*) FROM food_like fl WHERE fl.cat3 = fd.cat3 AND id = #{id}) userlikeCnt
            	FROM food fd JOIN festa f
            	ON fd.areacode = f.acode AND fd.sigungucode = f.scode 
            	WHERE f.contentid = #{contentid}
            	ORDER BY userlikeCnt DESC, likeCnt DESC, fd.contentid DESC
            )
            WHERE ROWNUM <= #{pageNum} * #{amount}
        )
        WHERE rn > (#{pageNum}-1)*#{amount}
    ]]>
  	</select>
  	
  	
  	<select id="read" resultType="kr.co.thefesta.food.domain.api.ItemDTO">
  		SELECT contentid,
  			   title,
  			   addr1,
  			   infocenterfood,
  			   firstmenu,
  			   treatmenu,
  			   opentimefood,
  			   restdatefood,
  			   parkingfood,
  			   overview,
  			   firstimage,
  			   mapx,
  			   mapy,
  			   areacode,
  			   sigungucode,
  			   cat3
  		FROM food
  		WHERE contentid = #{contentid}
  	</select>
  	
  	<select id="selectAreacode" resultType="kr.co.thefesta.food.domain.AreacodeDTO">
  		SELECT f.title,
               f.acode,
               f.scode,
               a.aname,
               a.sname
        FROM festa_area a
        JOIN festa f ON f.acode = a.acode AND f.scode = a.scode
        WHERE f.contentid = #{contentid}
  	</select>
  	
  	<insert id="insertLike">
  		INSERT INTO food_like(lno, contentid, title, cat3, id)
		VALUES(food_like_seq.nextval, #{contentid}, #{title}, #{cat3}, #{id})
  	</insert>
  	
  	<delete id="deleteLike">
  		DELETE FROM food_like
		WHERE contentid = #{contentid} AND id = #{id}
  	</delete>
  	
  	<select id="userLikeList" resultType="kr.co.thefesta.food.domain.LikeDTO">
		SELECT *
		FROM food_like
		WHERE id = #{id}
  	</select>
  	
  </mapper> 