<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="FoodMapper">
  	<insert id="insert">
  		INSERT INTO food(contentid, title, addr1, firstmenu, treatmenu, infocenterfood, parkingfood, opentimefood, restdatefood, overview, firstimage, firstimage2, mapx, mapy, areacode, sigungucode, cat3 )
		VALUES(#{contentid}, #{title}, #{addr1}, #{firstmenu}, #{treatmenu}, #{infocenterfood}, #{parkingfood}, #{opentimefood}, #{restdatefood}, #{overview}, #{firstimage}, #{firstimage2}, #{mapx}, #{mapy}, #{areacode}, #{sigungucode}, #{cat3})
  	</insert>
  	
  	<delete id="delete">
  		DELETE FROM food
  	</delete>
  	
  	<select id="selectFestaid" resultType="kr.co.thefesta.festival.domain.FestivalDTO">
  		SELECT *
		FROM festa
  	</select>
  	
  	<select id="selectAreacode" resultType="kr.co.thefesta.food.domain.AreacodeDTO">
  		SELECT f.title,
               f.acode,
               f.scode,
               a.aname,
               a.sname
        FROM festa_area a
        JOIN festa f ON f.acode = a.acode AND f.scode = a.scode
        WHERE f.contentid = #{contentid}
  	</select>
  	
  	<select id="recommend" resultType="kr.co.thefesta.food.domain.RecommendDTO">
  		SELECT fd.contentid,
  			   fd.title,
		       fd.firstimage2,
		       fd.addr1,
		       fd.cat3,
		       (SELECT COUNT(*) FROM food_like WHERE contentid = fd.contentid) AS likeCnt		       
		FROM food fd JOIN festa f
		ON fd.areacode = f.acode AND fd.sigungucode = f.scode
		WHERE f.contentid = #{contentid}
		ORDER BY likeCnt DESC
  	</select>
  	
  	<select id="recommendUser" resultType="kr.co.thefesta.food.domain.RecommendDTO">
  		SELECT fd.contentid,
       		   fd.title,
               fd.firstimage2,
               fd.addr1,
               fd.cat3,
               (SELECT COUNT(*) FROM food_like WHERE contentid = fd.contentid) AS likeCnt
        FROM food fd
        JOIN festa f ON fd.areacode = f.acode AND fd.sigungucode = f.scode 
        WHERE f.contentid = #{contentid}
        ORDER BY (SELECT COUNT(*) FROM food_like WHERE cat3 = fd.cat3 AND id = #{id}) DESC, likeCnt DESC
  	</select>
  	
  	<select id="read" resultType="kr.co.thefesta.food.domain.ItemDTO">
  		SELECT contentid,
  			   title,
  			   addr1,
  			   infocenterfood,
  			   firstmenu,
  			   treatmenu,
  			   opentimefood,
  			   restdatefood,
  			   parkingfood,
  			   overview,
  			   firstimage,
  			   mapx,
  			   mapy,
  			   areacode,
  			   sigungucode,
  			   cat3
  		FROM food
  		WHERE contentid = #{contentid}
  	</select>
  	
  	<insert id="insertLike">
  		INSERT INTO food_like(lno, contentid, title, cat3, id)
		VALUES(food_like_seq.nextval, #{contentid}, #{title}, #{cat3}, #{id})
  	</insert>
  	
  	<delete id="deleteLike">
  		DELETE FROM food_like
		WHERE contentid = #{contentid} AND id = #{id}
  	</delete>
  	
  </mapper>
  
