<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.co.thefesta.member.mapper.MemberMapper">
 
 <!-- 로그인 -->
	<select id="getTime" resultType="string">
		SELECT SYSDATE
		FROM dual
	</select>

	<select id="selMember" resultType="kr.co.thefesta.member.domain.MemberDTO">
		SELECT *
		FROM member
		WHERE id = #{id}
	</select>
	
	<select id="login" resultType="kr.co.thefesta.member.domain.MemberDTO">
		SELECT *
		FROM member
		WHERE id = #{id}
		AND password = #{password}
	</select>
	
	
<!-- 회원가입 -->
	<select id="stateCodeCheck" resultType="string">
		SELECT statecode FROM member
		WHERE id = #{id}
	</select>
	
	<select id="nicknameCheck" resultType="int">
		SELECT COUNT(*) FROM member
		WHERE nickname = #{nickname}
	</select>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM member
		WHERE id = #{id}
	</select>
	
	<insert id="join">
		INSERT INTO member (id, password, nickname, agreement, statecode)
		VALUES(#{id}, #{password}, #{nickname}, 'o', '0')
	</insert>
	
	<update id="reJoin">
		UPDATE member
		SET password = #{password}, nickname = #{nickname}, joindate = SYSDATE, withdrawdate = null, statecode = '1', updatedate = SYSDATE
		WHERE id = #{id}
	</update>
	
	
<!-- 로그아웃 -->
	<update id="updateFinalaccess">
		UPDATE member
		SET finalaccess = SYSDATE
		WHERE id = #{id}
	</update>
	
	
<!-- 비밀번호 변경 -->
	<update id="pwReset">
		UPDATE member
		SET password = #{password}
		WHERE id = #{id}
	</update>
	
	
<!-- 회원 정보 변경 -->
	<update id="memInfoReset" parameterType="kr.co.thefesta.member.domain.MemberDTO">
        UPDATE MEMBER
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="profileImg != null">profileImg = #{profileImg},</if>
            <if test="resetPassword != null">password = #{resetPassword}</if>
        </set>
        WHERE id = #{id}
    </update>
	
	<update id="updateImg" parameterType="hashMap">
		UPDATE MEMBER
		SET profileImg = #{profileImg}
		WHERE id = #{id}
	</update>




<!-- 상태코드 변경 -->
	<update id="updateState">
	  UPDATE member
	  <set>
	    <if test="statecode == 1">
	      nickname = null,
	      stateCode = 4,
	    </if>
	    <if test="statecode == 2">
	      stateCode = 3,
	    </if>
	    <if test="statecode == 4">
	      stateCode = 3,
	    </if>
	  updatedate = sysdate
	  </set>
	  WHERE id = #{id}
	</update>

 </mapper>